/**Mixins**/
.flexy {
  display: flex;
  justify-content: center;
  align-items: center;
}
/** VARIABLES **/
@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu-L.ttf');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: UbuntuMono;
  src: url('../fonts/UbuntuMono-R.ttf');
}
html,
body {
  background-color: #36393E;
  color: white;
  margin: 0;
  height: 400px;
  width: 1020px;
  font-family: Ubuntu;
  -webkit-user-select: none;
  cursor: default;
}
#window-btns {
  -webkit-app-region: no-drag;
  display: flex;
  padding-left: 15px;
  font-size: 35px;
  color: grey;
}
#window-btns > div {
  padding: 5px 5px;
}
#window-btns > div:hover {
  color: white;
  cursor: pointer;
}
#window-btns #btnMinimize {
  margin-top: 5px;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.button {
  background: linear-gradient(to bottom, #528dcc 0%, #315c82 100%);
  border-radius: 5px;
}
.button:hover {
  background: linear-gradient(to bottom, #3b4f82 0%, #183663 100%);
  cursor: pointer;
}
.cancel-button {
  background: linear-gradient(to bottom, #9d9d9d 0%, #4b4b4b 100%);
  border-radius: 5px;
}
.cancel-button:hover {
  background: linear-gradient(to bottom, #3d3c3d 0%, #4b4b4b 100%);
  cursor: pointer;
  color: #8C8C8C;
}
.img-play {
  background-image: url('../images/play.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.img-play:hover {
  background-image: url('../images/play-hover.png');
}
.playing {
  background-image: url('../images/pause.png');
}
.playing:hover {
  background-image: url('../images/pause-hover.png');
}
#nav {
  width: 249px;
  float: left;
  background-color: #2E3136;
}
#nav > span {
  -webkit-app-region: drag;
  text-align: center;
  display: block;
  font-size: 20px;
  line-height: 50px;
  background-color: #3e68b0;
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#nav ul li {
  cursor: pointer;
  font-size: 18px;
  color: #CCCCCC;
  line-height: 50px;
  margin-left: 8px;
  padding-left: 8px;
}
#nav ul li:hover {
  margin-left: 0;
  border-left: 8px solid #2f549d;
  background: linear-gradient(to right, #2e2e2e 0%, rgba(6, 39, 69, 0) 100%);
}
#nav > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  text-align: center;
}
#nav > div:nth-last-child(2) {
  color: #8C8C8C;
}
#nav > div:nth-last-child(2) > span {
  align-self: flex-end;
}
#nav > div:last-child {
  height: 30px;
}
#nav > div:last-child > span {
  font-size: 12px;
  color: #5a5a5c;
}
#nav > div span {
  display: block;
  align-self: center;
}
#title {
  -webkit-app-region: drag;
  display: flex;
  width: 770px;
  height: 49px;
  border-bottom: 2px inset #2E3136;
}
#title > span {
  display: block;
  align-self: center;
  padding-left: 20px;
  font-size: 20px;
  width: 800px;
}
#content {
  display: inline-block;
  width: 770px;
  height: 349px;
  margin: 0;
}
#content > div {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0;
}
#content #status {
  display: flex;
}
#status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#status > div > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#status > div > div span {
  margin: 5px;
  margin-bottom: 10px;
  font-size: 22px;
}
#status > div > div:last-child > span {
  padding: 10px;
  width: 150px;
  text-align: center;
}
#soundboard #sounds {
  width: 100%;
  height: 100%;
}
#soundboard .row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}
#soundboard .sound {
  margin: 2px;
  width: 90px;
  height: 130px;
  text-align: center;
}
#soundboard .sound span {
  display: block;
  width: auto;
}
#soundboard .sound span:first-child {
  line-height: 25px;
  padding: 2px 0;
  margin: 3px 0;
  width: 100%;
  height: 23px;
  overflow: hidden;
}
#soundboard .sound span:first-child:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #5c5c5c;
  cursor: pointer;
}
#soundboard .sound span:nth-child(2) {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #D2D2D2;
  margin-left: 5px;
  letter-spacing: 10px;
  line-height: 10px;
}
#soundboard .sound span:nth-last-child(2) {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}
#soundboard .sound span:nth-last-child(2) div {
  height: 45px;
  width: 50px;
  cursor: pointer;
}
#soundboard .sound span:last-child {
  border-radius: 3px;
  background: linear-gradient(to bottom, #528dcc 0%, #315c82 100%);
  line-height: 22px;
  cursor: pointer;
}
#soundboard .sound span:last-child:hover {
  background: linear-gradient(to bottom, #3b4f82 0%, #183663 100%);
}
#editSoundTitleOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  width: 770px;
  height: 349px;
  background-color: rgba(41, 41, 41, 0.9);
}
#editSoundTitleOverlay > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  text-align: center;
  border-radius: 5px;
}
#editSoundTitleOverlay > div > input {
  font: 20px Ubuntu;
  border-radius: 7px;
  border: 1px solid #404040;
  color: white;
  background-color: #1b1b1b;
  height: 36px;
  width: 150px;
  padding: 0 7px;
  margin: 0 5px;
  line-height: 23px;
}
#editSoundTitleOverlay > div > input:focus {
  outline: none;
}
#editSoundTitleOverlay > div > span {
  line-height: 34px;
  margin: 0 5px;
  padding: 2px 20px;
}
#editSoundTitleOverlay > div > span:last-child {
  padding: 2px 12px;
  font-size: 20px;
}
#settings {
  display: flex;
  justify-content: center;
  align-items: center;
}
#settings > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
}
#settings > div > div > span,
#settings > div > div > input {
  margin: 0 5px;
  line-height: 28px;
  border-radius: 5px;
}
#settings > div > div > input {
  font: 16px Ubuntu;
  border-radius: 7px;
  border: 1px solid #404040;
  color: white;
  background-color: #1b1b1b;
  width: 150px;
  height: 28px;
  padding: 0 7px;
}
#settings > div > div > input:focus {
  outline: none;
}
#settings > div > div > span:nth-last-child(2) {
  padding: 0 20px;
}
#settings > div > div > span:last-child {
  padding: 0 15px;
}
#settings > div > div:nth-child(-n+2) > span {
  width: 75px;
  text-align: right;
  padding: 0 0;
}
#settings > div > div:last-child {
  height: 150px;
  align-items: baseline;
}
#settings > div > div:last-child > span:first-child {
  width: 50px;
}
#settings > div > div:last-child > span:last-child {
  padding: 0px 10px;
}
#settings > div > span {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #D2D2D2;
  margin-left: 12px;
  letter-spacing: 10px;
  line-height: 40px;
}
.dropdown {
  display: inline-flex;
  width: 245px;
  position: relative;
}
.dropdown .dropdown-toggle {
  margin: 0 5px;
  padding: 3px 10px;
  text-align: left;
  width: 100%;
}
.dropdown .caret {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  float: right;
  top: 9px;
}
.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 233px;
  max-height: 120px;
  overflow: auto;
  padding: 0;
  margin: 2px 5px 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background: #1B1B1B;
  cursor: pointer;
}
.dropdown .dropdown-menu > li {
  line-height: 25px;
  padding-left: 12px;
}
.dropdown .dropdown-menu > li:hover {
  background: #313131;
  border-radius: 3px;
}
.dropdown .dropdown-menu > li:first-child {
  border-bottom: 1px solid grey;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.dropdown .show {
  display: inline-block;
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline;
}
#about > div {
  text-align: center;
}
#about > div .title {
  font-size: 25px;
  margin-bottom: 3px;
  color: white;
  margin-top: 10px;
}
#about > div .hr {
  font-size: 15px;
  color: #D2D2D2;
  margin-left: 20px;
  margin-top: 0;
  letter-spacing: 10px;
  line-height: 10px;
}
#about > div .subtitle {
  font-size: 20px;
  margin-bottom: 3px;
  margin-top: 15px;
  color: white;
}
#about > div > div {
  margin: 4px;
  font-size: 16px;
  color: grey;
}
#about > div > div img {
  width: 45px;
  cursor: pointer;
}
.disabled,
.disabled:hover {
  background: linear-gradient(to bottom, #3C3B3B 0%, #252424 100%);
  color: #505050;
  cursor: default;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
