.login-container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  .login-content {
    font-size: 32px;
    margin: 0 auto;
  }
  .login-text {
    margin-bottom: 20px;
  }
  .secondary-button {
    position: relative;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    background: $secondary-button-bg;
    &:hover {
      background: $secondary-button-bg-hover;
    }
  }
  .login-button {
    position: relative;
    padding: 10px 25px;
    font-size: 24px;
    border-radius: 4px;
    display: inline-block;
    margin: auto 0;
    cursor: pointer;
    background: $primary-button-bg;
    &:hover {
      background: $nav-bg-hover;
    }
  }
  .login-minor-text {
    font-size: 20px;
    color: $minor;
  }
  .denied {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $bg;
    font-size: 24px;
    .login-button {
      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}
