@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-R.ttf);
}

html, body {
  background-color: #2b3037;
  color: white;
  margin: 0;
  padding: 0;
  height: 400px;
  width: 1000px;
  border: 1px solid black;
  font-family: Ubuntu, sans-serif;
}

#main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#nav {
  width: 200px;
  height: 100%;
  float: left;
  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    box-shadow: 1px 0px 20px black;
    li {
      font-size: 20px;
      color: #5577C3;
      line-height: 50px;
      margin: 0 auto;
      text-align: center;
      box-shadow: 0px 0px 30px #202020 inset;
    }
  }
}

#content {
  display: inline-block;
  width: 800px;
  margin: 0;
  #soundboard {
    width: 100%;
    height: 100%;
    margin: 0px;
    .row {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
    }
    .sound {
      margin: 0px;
      width: 100px;
      height: 150px;
      align-self: center;
      border: 1px solid black;
      text-align: center;
      span {
        align-self: center;
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
