@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-R.ttf);
}

html, body {
  background-color: #2b3037;
  color: white;
  margin: 0;
  padding: 0;
  height: 400px;
  width: 1000px;
  //border: 1px solid black;
  font-family: Ubuntu, sans-serif;
  -webkit-user-select: none;
  cursor: default;
}

#main {
  height: 100%;
  #nav {
    @htitle: 70px;
    @hli: 50px;
    @navshadow: #202020;
    width: 250px;
    height: inherit;
    float: left;
    box-shadow: 2px 0 30px 0px black;
    >span {
      text-align: center;
      display: block;
      font-size: 20px;
      line-height: @htitle;
      background: linear-gradient(to bottom, #2769b0 0%, #062745 100%);
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        font-size: 18px;
        color: #5577C3;
        line-height: @hli;
        margin: 0 auto;
        text-align: center;
        box-shadow: 0px 0px 20px 3px @navshadow inset;
        &:hover {
          box-shadow: 0px 0px 20px 3px #43516F inset;
        }
        a {
          cursor: default;
          display: block;
          text-decoration: none;
          color: inherit;
        }
      }
    }
    >div {
      display: flex;
      height: calc(400 - (@hli * 4) - @htitle);
      text-align: center;
      justify-content: center;
      box-shadow: 0px 0px 20px 3px @navshadow inset;
      background: linear-gradient(to bottom, #1e2329 0%, #062745 100%);
      span {
        display: block;
        align-self: center;
      }
    }
  }
}

#content {
  display: inline-block;
  width: 750px;
  margin: 0;
  #soundboard {
    width: 100%;
    height: 100%;
    margin: 0px;
    .row {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
    }
    .sound {
      margin: 0px;
      width: 100px;
      height: 150px;
      align-self: center;
      border: 1px solid black;
      text-align: center;
      span {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
