.analytics-container {
  height: 50%;
  display: flex;
  position: relative;
  border: 1px solid $table-border;
  border-radius: 4px;
  background: $table-bg;
  flex-direction: column;
  flex: 1.5;
  .analytics-title {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 18px;
    border-bottom: 2px solid $table-border;
    padding: 4px;
    background: $col-bg;
  }
  .analytics-wrapper {
    display: flex;
    align-items: center;
    margin: 15px;
    flex: 1;
    flex-direction: column;
    .form-group {
      font-size: 14px;
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;
      .analytics-label {
        flex: 1;
      }
      .custom-checkbox {
        height: 16px;
        width: 16px;
        border: 2px solid;
        border-radius: 20px;
        line-height: 0;
        font-size: 12px;
      }
    }
  }
}