.connector-container {
  float: right;
  width: 50%;
  height: calc(100% - 260px);
  margin-top: 10px;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  padding-left: 10px;
  .connector-container-title {
    font-size: 20px;
    height: 30px;
  }
  .connector-options-container {
    border: 1px solid $table-border;
    border-radius: 4px;
    background: $table-bg;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex: 1.5;
    .connector-options-title {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      font-size: 18px;
      border-bottom: 2px solid $table-border;
      padding: 4px;
      background: $col-bg;
    }
    .connector-options-wrapper {
      margin-left: 15px;
      height: 25px;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex: 1;
      .connector-option {
        font-size: 14px;
        flex: 1;
      }
      .connector-radio {
        width: 16px;
        height: 16px;
        border: 2px solid;
        display: inline-block;
        border-radius: 20px;
        margin-right: 20px;
        &.toggled {
          background: white;
        }
      }
      .connector-checkbox {
        height: 16px;
        width: 16px;
        border: 2px solid;
        border-radius: 20px;
        margin-right: 20px;
        line-height: 0;
        font-size: 12px;
      }
      .connector-input {
        margin-right: 20px;
      }
    }
  }
  .connect-container {
    flex: 1;
    button {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      border-style: none;
      background: $primary-button-bg;
      font-size: 26px;
      &:hover {
        background: $nav-bg-hover;
      }
    }
  }
}