:global {
  @import 'base';
  @import 'vendor/normalize';
  @import 'containers/Header';
  @import 'containers/NavBall';
  @import 'containers/Contents';
  @import 'containers/SoundList';
  @import 'containers/ProfileList';
  @import 'containers/BoardEditor';
  @import 'containers/Connector';
  @import 'containers/ClearData';
  @import 'containers/Audio';
  @import 'containers/Analytics';
  @import 'containers/Cooldown';
  @import 'views/LoginView';
  @import 'views/BoardView';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html, body {
    background: $bg;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    user-select: none;
    color: white;
    cursor: default;
  }

  ::-webkit-scrollbar {
    width: 8px;
		background: transparent;
		margin-left: -8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: none;
		background-color: #596bb9;
  }

  .loading {
    background: $loading 0 0 no-repeat;
    background-size: 100%;
    height: 250px;
    width: 250px;
    margin: 0 auto;
  }
  .main-app-content {
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .main_app-layout {
    height: calc(100% - 75px);
    position: relative;
  }
  .redux-toastr {
    width: 400px;
    .toastr {
      display: flex;
      .message-holder {
        flex: 1;
        align-self: center;
        margin-left: 10px;
      }
      &.warning {
        background: #56678a;
      }
      &.success {
        background: #4e7bbd;
      }
      .icon-holder {
        font-size: 24px;
        margin-left: 10px;
        align-self: center;
      }
      .close {
        margin-right: 10px;
      }
    }
  }

  .react-context-menu {
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 16px;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
  }

  .btn {
    border: none;
    outline: none;
    color: white;
    &:focus {
      outline: none;
    }
    &:active {
      outline: none;
    }
    &:focus:active {
      outline: none;
    }
  }
  .btn-primary {
    background: $nav-bg;
    &:hover {
      background: $nav-bg-hover;
    }
    &:focus:active {
      background-color: $nav-bg-focus;
    }
  }
  .btn-secondary {
    background: #7a8086;
    &:hover {
      background: #868e95;
      color: inherit;
    }
  }

  .rc-slider.volume-slider {
    background: white;
    padding: 2px;
    border-radius: 3px;
    margin: 5px;
    position: relative;
    height: 0;
    .rc-slider-rail {
      height: 0;
    }
    .rc-slider-track {
      margin-top: -2px;
      background-color: #047ffb;
    }
    .rc-slider-handle {
      position: absolute;
      margin-left: -7px;
      margin-top: -7px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      border-radius: 50%;
      border: solid 2px white;
      background-color: #047ffb;
    }
  }

  .form-info {
    color: #c3c3c3;
  }
  
  label {
    font-weight: 500;
  }

  input {
    border-style: none;
    border: 1px solid;
    border-radius: 2px;
    width: 60px;
    outline: none;
    padding-left: 5px;
    background: $setting-input-bg;
  }

  .info-container {
    height: 100%;
    display: flex;
    position: relative;
    border: 1px solid $table-border;
    border-radius: 4px;
    background: $table-bg;
    flex-direction: column;
    flex: 1.5;
    .info-title {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      font-size: 18px;
      border-bottom: 2px solid $table-border;
      padding: 4px;
      background: $col-bg;
    }
    .info-wrapper {
      margin: 15px;
      height: 100%;
      position: relative;
    }
    .info-section {
      margin-bottom: 20px;
      .info-section-title {
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 10px;
        background: #9b97a7;
        border-radius: 4px;
      }
      .info-section-text {
        margin-bottom: 5px;
      }
    }
  }
  a {
    color: #0089ff;
    cursor: pointer;
    &:hover {
      color: #0089ff;
    }
  }

  .disabled {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(50, 54, 94, 0.95);
    top: 0;
  }

  .tutorial-container {
    position: absolute;
    font-size: 22px;
    text-align: right;
    display: inline-flex;
    &.bottom {
      bottom: 0;
    }
    &.top {
      top: 0;
    }
    .tutorial-text {
      margin-right: 20px;
      text-align: right;
      width: 580px;
      display: inline-flex;
    }
    .btn {
      font-size: 22px;
      position: relative;
      height: 50px;
    }
  }

  .custom-checkbox {
    height: 16px;
    width: 16px;
    border: 2px solid;
    border-radius: 20px;
    line-height: 0;
    font-size: 12px;
    cursor: pointer;
  }

  .for-mixer {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  .heart {
    margin: 0px 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    background: $heart 0 0 no-repeat;
    background-size: 100%;
  }

  .mixer-logo {
    margin: 0px 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    background: $mixer-logo 0 0 no-repeat;
    background-size: 100%;
  }

  .react-contexify-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .react-contexify-menu {
    position: fixed;
    background-color: #3e3e3e;
    border-radius: 2px;
    border: 1px solid gray;
    width: 100px;
  }
  .react-contexify-menu__item {
    margin: 2px 0;
    padding: 3px 0;
    padding-left: 10px;
    &:hover {
      background: #636363;
      cursor: pointer;
    }
    &.react-contexify-menu__item--disabled {
      opacity: 0.2;
    }
  }
  .react-contexify-menu__item__icon {
    margin-right: 10px;
  }
  .react-contexify-menu__separator {
    height: 1px;
    background: gray;
  }
}
/* Make standard style for this app */
